<html>
<meta charset="utf-8" />
<head>
    <title>M G Test-</title>
</head>
<link rel="stylesheet" href="/Draft.css"/>
<link rel="stylesheet" href="/plugin.css"/>
<link rel="stylesheet" href="/style.css"/>
<body>
<div id="text-edit-root">
</div>
</body>
<script src="/bundle.js"></script>
</html>